:root{
    font-size: 62.5%;
}
body{font-size: 1.6rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main:hover .blau{
        transform: translateX(-100%) rotate(90deg);
}
.main:hover .gelb{
    transform: translateX(-100%) rotate(-90deg);
}
.main:hover .braun{
    transform: translateX(100%) rotate(-90deg);
}
.main:hover .rosa{
    transform: translateX(100%) rotate(90deg);
}
h1{
    font-family: sans-serif;
    font-size: 10rem;
}
.blau, .gelb, .braun, .rosa{
    width: 200px;
    height: 200px;
    transition: all 2s;
    position: absolute;
    z-index: 1;
}
.blau{
    background-color: steelblue;
    top: 0;
    left: 0;
}
.braun{
    background-color: dimgray;
    top: 0;
    right: 0;
}
.gelb{
    background-color: yellow;
    bottom: 0;
    left: 0%;
}
.rosa{
    background-color: rosybrown;
    bottom: 0;
    right: 0rem;
}